<p id="notice"><%= notice %></p>

<h1>Movies</h1>
<div >
<table>
  <thead>
    <tr>
      <th>Path</th>
      <th>Description</th>
      <th>Shared By</th>
      <th colspan="3"> Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= content_tag(:iframe,'', width: 500, height: 350, src: "#{youtube_embed(@movie.path)}") %> </td>
        <td><%= movie.description %></td>
        <td><%= movie.user.email %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Movie', new_movie_path %>
