<p id="notice"><%= notice %></p>

<p>
  <strong>Youtube Movie:</strong>
  <iframe width="560" height="315" src="<%=  youtube_embed(@movie.path) %>" frameborder="0" allowfullscreen></iframe> 
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Shared by:</strong>
  <%#byebug%>
  <%= user_email %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
