<p id="notice"><%= notice %></p>

<p>
  <strong>Youtube Movie:</strong>
  <%= content_tag(:iframe,'', width: 500, height: 350, src: "#{youtube_embed(@movie.path)}") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Shared by:</strong>
  <%= user_email %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
